*{
  margin: 0;  
  padding: 0;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
nav i{
    font-size: xx-large;
    margin-right: 40px;
  }
h4{
  margin-bottom: 5px;
}
ul, li{
  list-style: none;
  }
form, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }
select{
    height: 30px;
    width: 80%;
  }
footer i {
    font-size: x-large;
    padding: 10px;
  }
.navlogo{
    display: flex;
    justify-content: start;
    align-items:  center;
    gap: 10px;
    padding: 15px;
  }
.navmenu{
  display: none;
  font-size: large;
  }
.card {
    color: #055454;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 250px;
    margin-top: 20px;
    text-align: center;
  }
.card-body {
    margin-top: 10px;
  }
.button {
  color: #055454;
  font-size: 15px;
  background-color: #c6cf31;
  transition-duration: 0.4s;
  }
.button-ver{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 60%;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
  }
.btn-group .button-page {
  border: 1px solid #055454;
  padding: 15px 15px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  }
.button:hover{
    color: #c6cf31;
    background-color: #055454;
  }
.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 70px 70px auto 100px; 
    grid-template-areas: 
      "navbar"
      "search"
      "product"
      "footer"; 
  }
.navbar { 
    grid-area: navbar;
    background-color: #055454  ; 
    color: #c6cf31  ;
  }
.search { 
    grid-area: search; 
    background-color: #84bf94  ;
  }
.footer { 
    grid-area: footer; 
    display: flex;
    justify-content: center;
    background-color: #c6cf31 ;
    color: #175b54;
  }
.product {
    grid-area: product; 
    background-color: whitesmoke;
    gap: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


@media (min-width: 576px) { 
    .container {
        grid-template-columns: 200px auto; 
        grid-template-rows: 100px auto 100px; 
        grid-template-areas: 
          "navbar navbar"
          "search product"
          "footer footer"; 
      }
      #icono{
        display: none;
      }
      .product {
        flex-direction: column;
      }
      .grid-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
      .navbar{
        display: flex;
        text-align: center;
        justify-content: space-between;
      }
      .navlogo{
        flex-direction: row;
      }
      .navmenu{
        display: flex;
        flex-direction: row;
        margin: 30px;
        gap: 20px;
        }
      }

@media (min-width: 992px) { 
    .container {
        grid-template-areas: 
          "navbar search"
          "navbar product"
          "footer product"; 
      }
      .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }
      .navlogo{
        flex-direction: column;
      }
      .navmenu{
        flex-direction: column;
        align-items: center;
        }
}